<div class="forgot-password-container">
  <h2 class="forgot-password-title">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'password-reset-form' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="form-actions">
      <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="auth-actions">
    <%= render "devise/shared/links" %>
  </div>
</div>
