<h2 class="auth-heading">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'auth-form' }) do |f| %>
  <div class="field auth-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'auth-input' %>
  </div>

  <div class="field auth-field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'auth-input' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field auth-field">
      <%= f.check_box :remember_me, class: 'auth-checkbox' %>
      <%= f.label :remember_me, class: 'auth-label' %>
    </div>
  <% end %>

  <div class="actions auth-actions">
    <%= f.submit "Log in", class: 'auth-button' %>
  </div>
<% end %>

<div class="auth-actions">
  <%= render "devise/shared/links" %>
</div>