<h1>Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li>
      <strong>Name:</strong> <%= category.name %><br>
      <% if category.icon.present? %>
        <strong>Logo:</strong> <%= image_tag(category.icon, width: 100, height: 100) %><br>
      <% end %>
      <strong>Total Transactions Amount:</strong> <%= number_to_currency(category.transactions.sum(:amount)) %><br>
      <%= link_to "View Transactions", category_transactions_path(category) %>
      <%= link_to "More", category_path(category) %>

    </li>
  <% end %>
</ul>

<%= link_to "Add a New Category", new_category_path %>
